iframe.monitoramento {
    width: 610px;
    height: 538px;
    border:none;

  
}
.mon-pac{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: white;

    border-radius: 10px;
    box-shadow: -5px 0px 25px 1px rgba(0, 0, 0, 0.4);
}

.mon-titulo{
    background-color: rgb(239, 243, 235);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: #568132;
    text-align: start;
    padding: 5px;
    padding-left: 12px;
}
